html,body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root, .App, .Layout {
  height: 100%;
}
.ant-layout {
  min-height: 100%;
}
.site-header {
  text-align: center;
}
.site-header .header {
  color: #EEE;
}
.main-content {
  max-width: 1600px;
  margin: 0 auto -118px;
  padding: 16px 0;
  min-height: 100%;
}
.site-footer, .push {
  height: 118px;
}
.site-footer {
  text-align: center;
}
.controls {
  margin-bottom: 10px;
}
.controls .select-timezone {
  width: 250px;
  margin-right: 20px;
  display: inline-block;
}
.controls .select-timezone__control {
  min-height: 32px;
  height: 32px;
}
.timezone-table tr > th {
  padding: 0 16px;
}
.timezone-table tr > td {
  padding: 0;
  position: relative;
}
.timezone-table .tz-timeline {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.timezone-table .tz-timeline .middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.timezone-table .tz-day {
  background-color: beige;
  color: #16161d;
}
.timezone-table .tz-night {
  background-color: navy;
  color: #EEE;
}
.timezone-table .tz-start {
  border-radius: 6px 0 0 6px;
  margin-left: 1px;
}
.timezone-table .tz-end {
  border-radius: 0 6px 6px 0;
  margin-right: 1px;
}
.timezone-table .tz-timeline-selected {
  background-color: lightblue;
  border-style: solid;
  border-color: #16161d;
  border-width: 0 1px 0 1px;
}
.timezone-table .tz-night.tz-timeline-selected {
  background-color: blue;
}
.timezone-table tr > td {
  border-style: solid;
  border-color: #e8e8e8;
  border-width: 1px 0 1px 0;
  transition: all 0s;
}
.timezone-table tr:hover > td {
  border-style: solid;
  border-color: #16161d;
  border-width: 1px 0 1px 0;
}
.timezone-table tr:hover > td, .timezone-table tr:hover .tz-day {
  background-color: lightblue;
}
.timezone-table tr:hover .tz-night {
  background-color: blue;
}
.timezone-table .tz-time, .timezone-table .tz-actions, .timezone-table .tz-diff, .timezone-table .tz-name {
  font-size: 1.5em;
}
.timezone-table .tz-timeline-hour {
  line-height: 1em;
}
.timezone-table .tz-timeline-minutes {
  font-size: 0.75em;
  line-height: 0.8em;
}
.timezone-table .tz-abbr {
  color: #999;
  margin-left: 10px;
}
